<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>NewsOne</title>
</head>
<body>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}">
<script src="{% static "js/jquery-3.2.1.js" %}" type="text/javascript"></script>
<script src="{% static "js/script.js" %}" type="text/javascript"></script>
<div class="top-bar">
<ul class="right">
{% if username %}
    <a  href="defiantoad.pythonanywhere.com/auth/logout/">Log Out({{ username }})</a>
    <a href="defiantoad.pythonanywhere.com/profile/{{ username }}/">My profile</a>
{% else %}
    <a class="Href" href="defiantoad.pythonanywhere.com/auth/login/">Log In</a>
    <p></p>
    <a class="Href" href="defiantoad.pythonanywhere.com/auth/register/">Register</a>

{%endif%}
</ul>
</div>
<div class="Panel">
<h1>
    <a class="Href" href="defiantoad.pythonanywhere.com">
        NewsOne
    </a>
</h1>
<a  class ="Href" href="defiantoad.pythonanywhere.com/home/">
<div class="InteractivePanel">
Home
</div>
</a>
<a  class ="Href" href="defiantoad.pythonanywhere.com/all/">
<div class="defiantoad.pythonanywhere.com">
All
</div>
{% if C_M %}
<a  class ="Href" href="defiantoad.pythonanywhere.com/admin/">
<div class="InteractivePanel">
Admin
</div>
</a>
{% endif %}
{% for department in departments %}
    <a  class ="Href" href="defiantoad.pythonanywhere.com/department={{ department }}/">
<div class="InteractivePanel">
{{ department }}
</div>
    </a>
{% endfor %}
<p></p>
{% block news %}
{% endblock %}
</div>
{% block login %}
{% endblock %}
</body>
</html>