<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>NewsOne</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}">
<script src="{% static "js/jquery-3.2.1.js" %}" type="text/javascript"></script>
<script src="{% static "js/script.js" %}" type="text/javascript"></script>
<div class="top-bar">
<ul class="right">
{% if username %}
    <a  href="/auth/logout/">Log Out({{ username }})</a>
    <a href="/profile/{{ username }}/">My profile</a>
{% else %}
    <a class="Href" href="/auth/login/">Log In</a>
    <p></p>
    <a class="Href" href="/auth/register/">Register</a>

{%endif%}
</ul>
</div>
<div class="Panel">
<h1>
    <a class="Href" href="">
        NewsOne
    </a>
</h1>
<a  class ="Href" href="/home/">
<div class="InteractivePanel">
Home
</div>
</a>
<a  class ="Href" href="/all/">
<div class="defiantoad.pythonanywhere.com">
All
</div>
{% if C_M %}
<a  class ="Href" href="/admin/">
<div class="InteractivePanel">
Admin
</div>
</a>
{% endif %}
{% for department in departments %}
    <a  class ="Href" href="/department={{ department }}/">
<div class="InteractivePanel">
{{ department }}
</div>
    </a>
{% endfor %}
<p></p>
{% block news %}
{% endblock %}
</div>
{% block login %}
{% endblock %}
</body>
</html>