{% extends "base.html" %}
{% block login %}
<div class="News large-offset-3 large-6 columns">
<form action="/auth/login/" method="post">
    {% csrf_token%}
    <label for="username">Name:</label>
    <input type="text" name="username" id="username">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <input type="submit" value="Log In" >
    {% if login_error %}
        <label class="TagHref">{{ login_error }}</label>
    {% endif %}
</form>
</div>
{% endblock %}
