{% extends "base.html" %}
{% block news %}
{% if profile %}
<div class="News">
{% load static %}
{% if profile.Profile_Photo  %}
   <img src="{% static profile.Profile_Photo.url %}" />
{% endif %}
<p>First Name:</p>
<p class="TagHref">{{  profile.First_Name }}</p>
<p>Last Name:</p>
<p class="TagHref">{{  profile.Last_Name }}</p>
<p>Birth Date:</p>
<p class="TagHref">{{  profile.Birth_Date }}</p>
<p>Studied at:</p>
<p class="TagHref">{{  profile.Studied_at }}</p>
<p>Adress:</p>
<p class="TagHref">{{  profile.Adress}}</p>
<p>Mobile Phone:</p>
<p class="TagHref">{{  profile.Mobile_Phone }}</p>
<p>Current Workplace:</p>
<p class="TagHref">{{  profile.Current_Workplace}}</p>
<p>Worked at:</p>
<p class="TagHref">{{  profile.Worked_at }}</p>
<p>Hobbies:</p>
<p class="TagHref">{{  profile.Hobbies }}</p>
{% else %}
  {% if host_user %}
      <p class="News">You haven't <a href="defiantoad.pythonanywhere.com/profile/create/">created</a> the profile.</p>
  {% else %}
      <p class="News">This user haven't already created the profile</p>
  {% endif %}
{% endif %}
{% if profile and host_user %}
   <a href="defiantoad.pythonanywhere.com/profile/update/" class="News">Update</a>
{% endif %}
</div>
{% endblock %}